.btn-voltar {
    display: block;
    width: 100%;
    padding: 8px;
    background-color: #f44336;
    color: white;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
}

.btn-voltar:hover {
    background-color: #e53935;
}
