.form-cadastro {
    width: 30%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.form-cadastro div {
    margin-bottom: 15px;
}

.form-cadastro label {
    display: block;
    margin-bottom: 5px;
}

.form-cadastro input[type="text"],
.form-cadastro input[type="submit"] {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.form-cadastro input[type="submit"] {
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

.form-cadastro input[type="submit"]:hover {
    background-color: #45a049;
}

button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    color: #ffffff;
}

.btn-editar {
    background-color: #007bff;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn-editar:hover {
    background-color: #0056b3;
}

.btn-excluir {
    background-color: #dc3545;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-excluir:hover {
    background-color: #c82333;
}

.btn-show {
    background-color: #17a2b8;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    display: inline-block;
}

.btn-show:hover {
    background-color: #138496;
}
